body {background-color: blue;
}


li { margin-left: 200px;
}

h1 {
  color: antiquewhite;
}

h5 {
  margin-left: 4in;
}

a:link,
a:visited {
  color: rebeccapurple;
  font-weight: bold;
}

a:hover {
  color: hotpink;
}

.thing {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
  }

  .thing2 {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 100px solid rgb(217, 141, 217);
  }


  .thing3 {

    position:relative;
    width: 0;
    height: 0;
    border-top: 5em solid transparent;
    border-bottom: 20em solid transparent;
    border-left: 70mm solid turquoise;
    margin-left: 40mm;
 
 }

 .thing4 {
      position: absolute;
      width: 0; 
      height: 0; 
      border-top: 90px solid transparent;
      border-bottom: 90px solid transparent; 
      
      border-right:90px solid antiquewhite;
      margin-left: 250px; 
      z-index: 3;
  }

  .thing5 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right:600px solid transparent;
    border-bottom: 100px solid gold;
    margin-left: -1in;
  }

  .thing7 {
    right: 40;
    bottom: 50;

    width: 0;
    height: 0;
    border-left: 120px solid transparent;
    border-right:120px solid transparent;
   
    border-bottom: 120px solid red;
    margin-left: 3in;
    margin-top: 30px;
    z-index: 1;
  }


  .thing6 {
    position: relative;
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    
    border-bottom: 200px solid black;
    margin-right: 100px;   
    z-index: 2;
  }

  .div1 {
     display: flex;
    flex-direction:column; 
  } 

.dot {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 100px;
  z-index: 2
}

.dot1 {
  position: absolute;
  height:100px;
  width: 100px;
  background-color: blue;
  border-radius: 50%;
  margin-left: 1in;
  z-index: 1
}

@media (min-width: 480px){
  body { background-color: red;}
}

@media (min-width: 768px){
  body { background-color: purple;}
}

@media (min-width: 992px){
   body { background-color: fuchsia;}
}
  

